table{
    border-collapse: collapse;
    border:2px solid #BA8E7A;
    background-color: #EFDFCC;
    width:100%
}
td{
    border:2px solid #BA8E7A;
}
thead{
    background-color: #BA8E7A;
    border:2px solid #EFDFCC;
}
