<nav class="navbar navbar-expand-lg bg-dark text-white">
    <div class="container-fluid">
      <a class="navbar-brand text-white" >Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Partidos
            </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item text-white" routerLink="partidos/listado">Listado</a></li>
              <li><a class="dropdown-item text-white" routerLink="">Jornadas</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="resultados">Resultados</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light text-white" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
